h1{
    color: cornsilk;
    font-family: 'Lobster';
    text-align: center;
}
body{
background-color: whitesmoke;
background-size: cover; 
}

#loginForm{
    justify-content: center;
    height: 50%;
    width: 50%;
    margin-left:25% ;
    margin-top: 20%;
    background-color:#5F91A3 ;
    
}
#username-login{
    height: 50%;
    width: 70%;
    margin-left:15% ;
}
#password-login{
    height: 50%;
    width: 70%;
    margin-left:15% ;
}
.container{
    background-color: gainsboro;
}
