h1{
    color: cornsilk;
    font-family: 'Lobster';
    text-align: center;
}
body{
background-color: whitesmoke;
background-size: cover; 
background-image: url("/static/css/img/inicioSesion.jpg");
}

#loginForm{
    justify-content: center;
    height: 50%;
    width: 50%;
    margin-left:25% ;
    margin-top: 10%;
    background-color:rgb(0, 0,0, 0.5) ;
   
    
}
#username-login{
    height: 50%;
    width: 70%;
    margin-left:15% ;
}
#password-login{
    height: 50%;
    width: 70%;
    margin-left:15% ;
}
.container{
    background-color: gainsboro;
}
