{% load static %}
<!Doctype html>
<html class="no-js" lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Inicio de sesión</title>
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"
        integrity="sha256-UzFD2WYH2U1dQpKDjjZK72VtPeWP50NoJjd26rnAdUI=" crossorigin="anonymous" />

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">


</head>

<body class="text-center" >
    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="login-form" id="loginForm">

            <form method="POST">
                {% csrf_token %}
                <h1>Prototipo plataforma Digital Twin</h1>
                <div class=" form-group">
                    <input id="username-login" type="user" class="form-control" placeholder="usuario" required=""
                        autofocus="">

                </div>
                <div class="form-group">
                    <input id="password-login" type="password" class="form-control" placeholder="Password" required="">


                </div>


                <a class="btn btn-info btn-flat m-b-30 m-t-30" role="button" onclick="autenticar();">Iniciar
                    sesión</a>
            <hr style="width: 50%" color="black"/>
            <div>
                
                <a href="{% url 'Register' %}" class="link" style="color: beige;">¿Quieres registrarte?</a>
            </div>
            
            
            




            </form>

        </div>


    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

 <!-- Bootstrap core JavaScript-->
 <script type="text/javascript" src="/static/js/jquery.min.js"></script>
 <script type="text/javascript" src="/static/js/bootstrap.bundle.min.js"></script>
 <!-- Core plugin JavaScript-->
 <script type="text/javascript" src="/static/js/jquery.easing.min.js"></script>

 <script>
     function autenticar() {
             $.ajax({
                 type: "POST",
                 url: '{{ 'authenticate-user/ ' }}',
                 data: { csrfmiddlewaretoken: '{{ csrf_token }}', username: document.getElementById("username-login").value, password: document.getElementById("password-login").value  },
                 success: function callback(response) {
                     datas = response
                     if (datas.length == 0) {
                         alert("este Usuario no existe en el sistema o las credenciales no son las correctas")
                     } else {
                         if(datas == 'patient'){
                            location.href = "{% url 'Patient' %}"
                         }else if (datas == 'doctor'){
                            location.href = "{% url 'Doctor' %}"
                        }
                     }  
                 }});}
     
 </script>

</body>


</html>