{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="es" id="principal">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Perfil Paciente</title>
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/fee31191c0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content" >

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light topbar mb-4 static-top shadow" id="navbar-body" >          

                  <h6 class="h3 m-0 font-weight-bold text-primary-800" id=titlePatient style="color: #007bff ;">Paciente: {{user.username}}</h1>
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>


                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Perfil de {{user.username}}</span>
                                <img class="img-profile fa fa-user rounded-circle">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a href="#" class="dropdown-item"
                                onclick="raise()"  ><i class="fas fa-download fa-sm fa-fw mr-2 text-gray-400" style="color: #000 ;"></i> Generar Reporte PDF</a>
                            
                                <a class="dropdown-item" href="{% url 'EditProfile' %}">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Perfil
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Cerrar sesión
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->


                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Content Row -->

                    <div class="row my-row">

                        <!-- Area Chart -->
                        <div class="col col-chatArea">
                            <div class="card shadow" id="cardShadow" style="background-color: #7FB1D3;">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary" id="titleCharts">Gráficas:</h6>

                                </div>
                                <!-- Card Body -->
                                <div class="card-body" id="body-chartArea">
                                    <div class="chart-area" >
                                        <div id="loadingScheme" ></div>
                                        <canvas id="HRate" style="display: none;"></canvas>
                                        <canvas id="nrStp" style="display: none;"></canvas>
                                        <canvas id="fdChr" style="display: none;"></canvas>
                                        <canvas id="HBigD" style="display: none;"></canvas>
                                        <div id="weght" style="display: none;"></div>
                                        <div id="foods" style="display: none;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Color System -->
                        <div class="col col-options">
                            
                                <div class="card text-white shadow" id="item-weight" onclick="showWeight();" style="background-color: #8FC1E3 ;">
                                    <div class="card-body">
                                        Peso:
                                        <div class="text-white-50 small">Ideal</div>
                                    </div>
                                </div>
                            
                            
                                <div class="card  text-white shadow" id="item-HR" style="background-color: #8FC1E3 ;">
                                    <div class="card-body"  >
                                        Actividad Cardíaca
                                        <div class="text-white-50 small">Saludable</div>
                                        <div class="dropdown no-arrow">
                                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400" ></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                                aria-labelledby="dropdownMenuLink">
                                                <div class="dropdown-header" >Mostrando el ritmo cardiaco de:</div>
                                                <a class="dropdown-item" id="optionsChartA" onclick="showHR('day');"
                                                    href="#">Hoy</a>                                                    
                                                <a class="dropdown-item" id="optionsChartA" onclick="showHR('yesterday');"
                                                href="#">Ayer</a>
                                                <a class="dropdown-item" id="optionsChartB" onclick="showHR('week');"
                                                    href="#">Última semana</a>
                                                <a class="dropdown-item" id="optionsChartC" onclick="showHR('month');"
                                                    href="#">Último mes</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                            
                                <div class="card text-white shadow" id="item-steps" style="background-color: #8FC1E3 ;">
                                    <div class="card-body">
                                        Actividad Física
                                        <div class="text-white-50 small">En riesgo</div>
                                        <div class="dropdown no-arrow">
                                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                                aria-labelledby="dropdownMenuLink">
                                                <div class="dropdown-header" >Mostrando la cantidad de pasos de:</div>
                                                <a class="dropdown-item" id="optionsChartA" onclick="showSteps('day');"
                                                    href="#">Hoy</a>                                                    
                                                <a class="dropdown-item" id="optionsChartA" onclick="showSteps('yesterday');"
                                                href="#">Ayer</a>
                                                <a class="dropdown-item" id="optionsChartB" onclick="showSteps('week');"
                                                    href="#">Última semana</a>
                                                <a class="dropdown-item" id="optionsChartC" onclick="showSteps('month');"
                                                    href="#">Último mes</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                            
                                <div class="card text-white shadow" id="item-foods" style="background-color: #8FC1E3 ;">
                                    <div class="card-body">
                                        Comidas
                                        <div class="text-white-50 small">Normal</div>
                                             <div class="dropdown no-arrow">
                                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                                    aria-labelledby="dropdownMenuLink">
                                                    <div class="dropdown-header" >Mostrando la comida de: </div>
                                                    <a class="dropdown-item" id="optionsChartA" onclick=showFood("day")
                                                        href="#">hoy</a>
                                                    <a class="dropdown-item" id="optionsChartB" onclick=showFood("week")
                                                        href="#">ayer</a>
                                                    <a class="dropdown-item" id="optionsChartC" onclick=showFood("month")
                                                        href="#">Última semana</a>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <!-- <i class="fas fa-angle-up"></i> -->
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">¿Desea cerrar sesión?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" onclick="logYourselfOut()">Cerrar sesión</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script type="text/javascript" src="/static/js/jquery.easing.min.js"></script>

    <!--chart Page level plugins -->
    <script type="text/javascript" src="/static/js/Chart.min.js"></script>

    <script type="text/javascript" src="/static/js/chart-area-demo.js"></script>

    <script type="text/javascript" src="/static/js/main.js"></script>

    <script>


        function raise() {
            $.ajax({
                type: "POST",
                url: '{{ 'generate-report/ ' }}',
                data: { csrfmiddlewaretoken: '{{ csrf_token }}', text: "text" },
                success: function callback(response) {
                    /* do whatever with the response */
                    alert(response);
                }});}

        function logYourselfOut() {
            $.ajax({
                type: "POST",
                url: '{{ 'log-out-user/ ' }}',
                data: { csrfmiddlewaretoken: '{{ csrf_token }}', text: "text" },
                success: function callback(response) {
                    window.location.href = "/login"
                }});}
 
        function getAnomalyHTML(){
            $.ajax({
                type: "POST",
                url: '{{ 'show-anomaly/ ' }}',
                data: { csrfmiddlewaretoken: '{{ csrf_token }}'},
                success: function callback(response) {
                    alert("Su ritmo cardiaco es de "+response[0]+"y la cantidad de pasos que ha realizado es de "+response[1]);
                }});}
  

        function getDataFitbitFoodsChart(type, labels) {
            $.ajax({
                type: "POST",
                url: '{{ 'get-data-fitbit-food/ ' }}',
                data: { csrfmiddlewaretoken: '{{ csrf_token }}', dataType: type, dataTime: labels },
                success: function callback(response) { 
                    data = [];
                    time = [];
                    timeD = response[0][3];
                    calDay = response[0][5];
                    for (i = 1; i < response.length; i++) { 
                        if(response[i][3] == timeD){
                            calDay += response[i][5];
                        }else{                                      
                            data.unshift(calDay);
                            time.unshift(timeD);
                            timeD = response[i][3];
                            calDay = response[i][5];
                        }
                    }                 
                    ChartsFd.data.datasets[0].data = data;
                    ChartsFd.data.labels = time;
                    ChartsFd.update();
                }});}



        function getDataFitbitCharts(type, labels) {
            $.ajax({
                type: "POST",
                url: '{{ 'get-data-fitbit/ ' }}',
                data: { csrfmiddlewaretoken: '{{ csrf_token }}', dataType: type, dataTime: labels },
                success: function callback(response) {
                    if (type == "HR") {
                        if (labels == "week" || labels == "month"){
                            ChartsHB.data.labels = response[1] 
                            for (i = 0; i < response[0][0].length; i++){
                                datus =[]
                                for (j = 0; j < response[0].length; j++){
                                    datus.push(response[0][j][i])
                                }
                                ChartsHB.data.datasets[i].data = datus
                            }
                            ChartsHB.update()
                        }else{                            
                            ChartsHR.data.datasets[0].data = response[0]    
                            ChartsHR.data.labels = response[1] 
                            ChartsHR.update()
                        }} else if (type == "ST") {
                        ChartsNS.data.datasets[0].data = response[0]
                        ChartsNS.data.labels = response[1]
                        ChartsNS.update()
                    }
                }});}

        function getDataFitbitFoods(type, labels) {
            $.ajax({
                type: "POST",
                url: '{{ 'get-data-fitbit-food/ ' }}',
                data: { csrfmiddlewaretoken: '{{ csrf_token }}', dataType: type, dataTime: labels },

                success: function callback(response) {
                    datas = response;
                    document.getElementById("foods").remove();
                    divFoods = document.createElement("div");
                    divFoods.id = "foods";
                    for (i = 0; i < datas.length; i++) {
                        var foodsFitbit = document.createElement("div");
                        foodsFitbit.id = datas[i][0] + i; //name
                        foodsFitbit.textContent = datas[i][0] + ": " + datas[i][1]; //name: quantity  
                        foodsFitbit.className = "card bg-primary text-white shadow";
                        if (i%2 == 0) {                                    
                            foodsFitbit.style.cssFloat = "left";
                            foodsFitbit.style.clear = "left";                                    
                            } else {
                            foodsFitbit.style.cssFloat = "right";
                            foodsFitbit.style.clear = "right";
                            }
                        foodsFitbit.style.width = "45%";
                        foodsFitbit.style.cssFloat = "left";
                        foodsFitbit.style.margin = "1%";
                        foodsFitbit.style.padding = "1%";
                        var innerFoodsFitbit= document.createElement("div");
                        innerFoodsFitbit.style.width ="100%";
                        foodsFitbit.append(innerFoodsFitbit)
                        for (j = 3; j < datas[i].length; j += 2) {
                                var valueFoodsFitbit = document.createElement("div");
                                valueFoodsFitbit.id = datas[i][j - 1] + j;//name
                                valueFoodsFitbit.textContent = datas[i][j - 1] + ": " + datas[i][j];                                      
                                valueFoodsFitbit.style.cssFloat = "left";                              
                                valueFoodsFitbit.style.width = "25%";
                                valueFoodsFitbit.style.margin = "4%";
                                valueFoodsFitbit.style.strokeWidth = "1%";
                                valueFoodsFitbit.className = "cardbg-info text-white shadow";
                                innerFoodsFitbit.appendChild(valueFoodsFitbit);
                            
                        }
                        divFoods.appendChild(foodsFitbit);
                    }
                    document.getElementsByClassName("chart-area")[0].appendChild(divFoods);
                }});}

                function getDataFitbitWeight(stra) {
            $.ajax({
                type: "POST",
                url: '{{ 'get-data-fitbit-weight/ ' }}',
                data: { csrfmiddlewaretoken: '{{ csrf_token }}', text: stra },
                success: function callback(response) {
                    datas = response;
                    document.getElementById("weght").remove();
                    divWeight = document.createElement("div");
                    divWeight.id = "weght";
                    var imgWeight = document.createElement("img");
                    imgWeight.id = "image-weight"; //name                    
                    imgWeight.style.width = "25%";
                    imgWeight.src = "{% static 'img/person-silhouette-outline-2.png' %}";
                    imgWeight.style.cssFloat = "left";
                    imgWeight.style.margin = "1%";
                    imgWeight.style.padding = "1%";
                    divWeight.appendChild(imgWeight)
                    for (i = 1; i < datas.length; i+=2) {
                                var valueWeightFitbit = document.createElement("div");
                                valueWeightFitbit.id = datas[i] + i;//name
                                valueWeightFitbit.textContent = datas[i - 1] + ": " + datas[i];
                                valueWeightFitbit.style.width = "25%";
                                valueWeightFitbit.style.cssFloat = "right";
                                valueWeightFitbit.style.margin = "4%";
                                valueWeightFitbit.style.strokeWidth = "1%";
                                valueWeightFitbit.className = "cardbg-info text-white shadow";
                                divWeight.appendChild(valueWeightFitbit);

                    }
                    document.getElementsByClassName("chart-area")[0].appendChild(divWeight);
                }});}


    </script>

</body>


</html>