{% load staticfiles %}
<!DOCTYPE html>
<html class="no-js" lang="es">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Registro</title>
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="{% static 'css/main.css' %}">

</head>

<body >
  <div class="card" style="max-width:50%;margin-left:25%; background-color:rgba(243, 235, 235, 0.465)">


    <form>
      <h1 class="text-center" style="color: black;">Registro</h1>
      <div style="margin-left: 25%; margin-top: 5%; align-content: left; ">


        <div>
          <label style="font-family: Helvetica, sans-serif;font-size: 130%; text-align: left;">Usuario*</label>
          <input type="text" class="form-control" id="user" placeholder=" " style="width:75%;">
        </div>
        <div>
          <label style="font-family: Helvetica, sans-serif;font-size: 130%; text-align: left;">Nombres*</label>
          <input type="text" class="form-control" id="name" placeholder=" " style="width: 75%;">
        </div>
        <div>
          <label style="font-family: Helvetica, sans-serif;font-size: 130%;">Apellidos*</label>
          <input type="text" class="form-control" id="lstN" placeholder=" " style="max-width:75%;">
        </div>
        <div>
          <label style="font-family: Helvetica, sans-serif;font-size: 130%;">E-mail*</label>
          <input type="text" class="form-control" id="mail" placeholder=" " style="max-width:75%;">
        </div>
        <div>
          <label style="font-family: Helvetica, sans-serif;font-size: 130%;">Peso*</label>
          <input type="text" class="form-control" id="wght" placeholder=" " style="max-width:75%;">
        </div>
        <div>
          <label style="font-family: Helvetica, sans-serif;font-size: 130%;">Estatura*</label>
          <input type="text" class="form-control" id="hght" placeholder="   " style="max-width:75%;">
        </div>
        <div>
          <label style="font-family: Helvetica, sans-serif;font-size: 130%;">Talla*</label>
          <input type="text" class="form-control" id="size" placeholder="   " style="max-width:75%;">
        </div>
        <div>
          <label style="font-family: Helvetica, sans-serif;font-size: 130%;">Identificación*</label>
          <input type="text" class="form-control" id="iCrd" placeholder="   " style="max-width:75%;">
        </div>
        <div>
          <label style="font-family: Helvetica, sans-serif;font-size: 130%;">Edad</label>
          <input type="text" class="form-control" id="ageU" placeholder="   " style="max-width:75%;">
        </div>
        <div>
          <label for="text" style="font-family: Helvetica, sans-serif;font-size: 130%;">Nivel de glucosa</label>
          <input class="form-control" id="gluc" placeholder="   " style="max-width:75%;">
        </div>        
        <div>
          <label style="font-family: Helvetica, sans-serif;font-size: 130%;">Contraseña*</label>
          <input type="password" class="form-control" id="pswr" placeholder="   " style="max-width:75%;">
        </div>
        <div class="row" style="margin-top:5%;width:90%;">
          <legend class="col-form-label col-sm-5" style="font-family: Arial, Helvetica, sans-serif;font-size: 130%;">
            ¿Toma médicamentos?</legend>
          <div class="col-sm-1">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
              <label class="form-check-label" style="font-family: Helvetica, sans-serif;font-size: 130%"
                for="gridRadios1">
                Sí
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
              <label class="form-check-label" for="gridRadios2"
                style="font-family: Helvetica, sans-serif;font-size: 130%">
                No
              </label>
            </div>
          </div>          
        </div>       
        <div><label>* Datos obligatorios</label></div>
        
        <a class="btn btn-primary btn-lg active" style="margin-top:5%; width:75%; align-self: center;" role="button"
        onclick="registerUser()">Registrarse</a>
      </div>
    </form>

    <!-- Bootstrap core JavaScript-->
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script type="text/javascript" src="/static/js/jquery.easing.min.js"></script>
    <script>
      function registerUser() {
        $.ajax({
          type: "POST",
          url: '{{ 'register-user/ ' }}',
          data: { csrfmiddlewaretoken: '{{ csrf_token }}', iCrd: document.getElementById("iCrd").value, user: document.getElementById("user").value,pswr: document.getElementById("pswr").value,name: document.getElementById("name").value,lstN: document.getElementById("lstN").value,mail: document.getElementById("mail").value,wght: document.getElementById("wght").value,hght: document.getElementById("hght").value,size: document.getElementById("size").value,gluc: document.getElementById("gluc").value, ageU: document.getElementById("ageU").value },
          success: function callback(response) {
                  if (response[0] != 'none'){
                      alert("datos no válidos debido a: " + response[0])
                  }else{
                    window.location.href = "/login"
                  }
                      
                  }});}

    </script>

</body>


</html>