<!-- {% load staticfiles %}
<!DOCTYPE html>
<html class="no-js" lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Perfil usuario</title>
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 
    <link rel="stylesheet" href="{% static 'css/main.css' %}"> 

</head>

<body class="text-center">
    <div class="profile-form">
    
    </div class="container">
    <h2>Perfil del usuario</h2>
    <button type="button" class="btn btn-primary btn-lg">Descargar datos </button>


    </body>


</html> -->